// Menus
.menu {
  @include shadow-variant(.05rem);
  background: $bg-color-light;
  border-radius: $border-radius;
  list-style: none;
  margin: 0;
  min-width: $control-width-xs;
  padding: $unit-2;
  transform: translateY($layout-spacing-sm);
  z-index: $zindex-3;

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  .menu-item {
    margin-top: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;

    & > a {
      color: inherit;
      display: block;
      margin: 0;
      padding: $unit-2;
      text-decoration: none;
      &:focus,
      &:hover,
      &:active,
      &.active {
        color: rgba($light-color, .75);
      }
    }
  }
}
