extends _layout/_layout.pug

block variables
  - var slug = 'accessories'
  - var parent = 'accessories'
  - var title = 'Accessories - Devices.css - Modern devices crafted in pure CSS'
  - var description = 'Pure CSS Apple HomePod, Apple Pro Display XDR devices. Pure CSS accessories mockups. Modern accessories crafted in pure CSS.'

block content
  .container.grid-md
    .columns
      .hero-container.column.col-md-12
        .rework-hero
          .hero-content
            h1.hero-title Accessories
            h2.hero-subtitle Modern accessories crafted in pure CSS
            h2.text-assistive Pure CSS Apple HomePod, Apple Pro Display XDR devices. Pure CSS accessories mockups. Modern accessories crafted in pure CSS.

    .columns
      .content-container.column.col-md-12
        h2.rework-title#homepod
          | HomePod
          a.ml-2(href="#homepod") #
        h3.text-assistive Pure CSS Apple HomePod, Apple HomePod in pure CSS
        .rework-content
          p 
        .rework-device.accessories
          .device.device-homepod
            .device-frame
            .device-stripe
            .device-header
            .device-sensors
            .device-btns
            .device-power
            .device-home

    include _layout/_ad-g.pug
    
    .columns
      .content-container.column.col-md-12
        h2.rework-title#pro-display-xdr
          | Pro Display XDR
          a.ml-2(href="#pro-display-xdr") #
        h3.text-assistive Pure CSS Apple Pro Display XDR, Apple Pro Display XDR in pure CSS
        .rework-content
          p Apple Pro Display XDR. A new 32-inch Retina 6K display with extreme brightness, contrast, color accuracy, and HDR that transforms the way you work.
        .rework-device.accessories
          .device.device-pro-display-xdr
            .device-frame
              img.device-screen(src="assets/img/bg-08.jpg" loading="lazy")
            .device-stripe
            .device-header
            .device-sensors
            .device-btns
            .device-power
            .device-home

    include _layout/_ad-sidebar.pug

    .columns  
      ul.pagination.column
        .page-item.page-prev
          a(href="watches.html")
            .page-item-subtitle Previous
            .page-item-title.h5 Watches