extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Devices.css - Modern devices crafted in pure CSS'
  - var description = 'Devices.css - Modern devices crafted in pure CSS'

block content
  .container.grid-lg
    .columns
      .hero-container.column.col-md-12
        .rework-hero
          .hero-content
            h1.hero-title Title
            h2.hero-subtitle Description
            h2.text-assistive Description