extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Devices.css - Modern devices crafted in pure CSS'
  - var description = 'Devices.css - Modern devices crafted in pure CSS'

block content
  .container.grid-md
    .columns
      .hero-container.column.col-md-12
        .rework-hero
          .hero-content
            h1.hero-title DEVICES.CSS
            h2.hero-subtitle Modern popular devices crafted in pure CSS

            .hero-demo 
              a.demo.demo-iphone-14-pro(href="phones.html#iphone-14-pro" target="_blank")
                .device.device-iphone-14-pro
                  .device-frame
                    img.device-screen(src="assets/img/bg-iphone-14-pro.jpg")
                  .device-stripe
                  .device-header
                  .device-sensors
                  .device-btns
                  .device-power
                  .device-home
              a.demo.demo-iphone-14(href="phones.html#iphone-14" target="_blank")
                .device.device-iphone-14
                  .device-frame
                    img.device-screen(src="assets/img/bg-iphone-14.jpg")
                  .device-stripe
                  .device-header
                  .device-sensors
                  .device-btns
                  .device-power
                  .device-home
              a.demo.demo-macbook-pro(href="computers.html#macbook-pro" target="_blank")
                .device.device-macbook-pro.device-spacegray
                  .device-frame
                    img.device-screen(src="assets/img/bg-10.jpg")
                  .device-stripe
                  .device-header
                  .device-sensors
                  .device-btns
                  .device-power
                  .device-home
              a.demo.demo-imac(href="computers.html#imac" target="_blank")
                .device.device-imac
                  .device-frame
                    img.device-screen(src="assets/img/bg-08.jpg")
                  .device-stripe
                  .device-header
                  .device-sensors
                  .device-btns
                  .device-power
                  .device-home
              a.demo.demo-apple-watch-ultra(href="watches.html#apple-watch-ultra" target="_blank")
                .device.device-apple-watch-ultra
                  .device-frame
                    img.device-screen(src="assets/img/bg-watch.jpg")
                  .device-stripe
                  .device-header
                  .device-sensors
                  .device-btns
                  .device-power
                  .device-home

            p All devices are elegantly developed in pure CSS. You can easily embed these minimal devices in landing pages and screenshot showcase pages. More devices are coming.
