extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Devices.css - Modern devices crafted in pure CSS'
  - var description = 'Devices.css - Modern devices crafted in pure CSS'

block content
  .container.grid-md
    .columns
      .hero-container
        .rework-hero
          .hero-content
            h1.hero-title DEVICES.CSS
            h2.hero-subtitle Modern popular devices crafted in pure CSS
        .rework-content
          .hero-content
          .hero-content
            p All devices are elegantly developed in pure CSS. More devices are coming. You can use these minimal devices in landing pages and screenshot showcase pages.

    