extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Devices.css - Modern devices crafted in pure CSS'
  - var description = 'Devices.css - Modern devices crafted in pure CSS'

block content
  .container.grid-md
    .columns
      .hero-container.column.col-md-12
        .rework-hero
          .hero-content
            h1.hero-title DEVICES.CSS
            h2.hero-subtitle Modern popular devices crafted in pure CSS
        .rework-content
          .hero-content
            .hero-demo 
              //- .device.device-iphone-x
              //-   .device-frame
              //-     video.device-screen(muted="muted" autoplay loop)
              //-       source(src="assets/video/bg-01.mp4" type="video/mp4")
              //-   .device-stripe
              //-   .device-header
              //-   .device-sensors
              //-   .device-btns
              //-   .device-power
              //-   .device-home
              //- .device.device-macbook-pro-2018
              //-   .device-frame
              //-     img.device-screen(src="assets/img/bg-10.jpg")
              //-   .device-stripe
              //-   .device-header
              //-   .device-sensors
              //-   .device-btns
              //-   .device-power
              //-   .device-home

          .hero-content
            p All devices are elegantly developed in pure CSS. You can easily embed these minimal devices in landing pages and screenshot showcase pages. More devices are coming.

  include _layout/_ad-sidebar.pug