extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Winkrypto - Crypto Integrated Marketing Expert'
  - var description = 'Winkrypto focuses on decrypting the integrated marketing of the crypto world and communicates the value for innovation projects. As a Greater China resource integrator, it enjoys deep partnership with technology communities, mainstream media, and financial institutions that have great insights into trends on Blockchain and FinTech.'

block content
  .section-navbar
    .container.grid-lg
      header.navbar
        .navbar-section
          a.navbar-brand(href="/")
            img.winkrypto-logo(src="assets/img/logo-winkrypto-2022.svg")
          a.navbar-link.text-bold(href="/careers.html")
            | HIRING
        .navbar-section
          a.btn.btn-link.hide-sm(href="#services") Services
          a.btn.btn-link.hide-md(href="#clients") Clients
          a.btn.btn-link.hide-md(href="#advisors") Advisors
          a.btn.btn-link.hide-sm(href="#partners") Partners
          a.btn.btn-link(href="https://docsend.com/view/bxyncymyt8fn5jmp" target="_blank") Deck
          a.btn-social(href="https://twitter.com/winkrypto/" target="_blank")
            img(src="assets/img/icon-twitter.svg")
          a.btn.hide-sm.ml-2(href="#contact") Contact
    
  #hero.section.section-hero
    .container.grid-lg.text-center
      h1.is-reveal 
        | Creating Integrated Value to Crypto World
      h2.is-reveal
        span.text-bold Storytelling
        span.text-normal |
        span.text-bold Consulting
        span.text-normal |
        span.text-bold Impact
      .icon-connector

  #about.section.section-about
    .container.grid-lg.text-center
      .columns
        .column.col-12
          img.winkrypto-logo.is-reveal(src="assets/img/logo-winkrypto-2022.svg")
      .columns
        .column.col-4.col-sm-12
          .about-item
            h4 1ST
            p Post-investment services firm for crypto players in the APAC Region 
        .column.col-4.col-sm-12
          .about-item
            h4 60%+
            p Top 100 players by market cap on CoinMarketCap are our clients
        .column.col-4.col-sm-12
          .about-item
            h4 150+
            p Top global VC partners
        .column.col-4.col-sm-12
          .about-item
            h4 1000+
            p Influential global KOL partners
        .column.col-4.col-sm-12
          .about-item
            h4 200+
            p Media &amp; community channels
        .column.col-4.col-sm-12
          .about-item
            h4 50+
            p Top global exchange partners
      .columns
        .column.col-8.col-sm-12.col-mx-auto
          ul.text-large
            li.is-reveal 
              p The 1st post-investment services firm for crypto players in the APAC region. 
              small Founded in Singapore in 2019, Winkrypto is the 1st crypto post-investment services agency in the APAC region. Winkrypto focuses on decrypting the code of branding and growth in the crypto space and has worked with hundreds of crypto clients globally, including 60% of the top 100 players by market cap on CoinMarketCap.
            li.is-reveal 
              p Deep knowledge of the industry and abundant network resources. 
              small Deep knowledge of the industry and abundant network resources are Winkrypto’s core strengths. Winkrypto has built deep and close partnerships with core media, communities, KOLs, financial institutions, exchanges, and crypto disruptors around the world. We can consistently provide you with professional branding strategies and growth solutions, effective brand exposure, community popularity and user growth, as well as facilitating fundraising, listing, and ecosystem building, etc.
            li.is-reveal 
              p 10+ years of experience in branding and key account services.
              small Our team owns 10+ years of experience in branding and key account services. We have conviction, integrity, and responsibility for the industry. With the mission of “Buidling together with tech disruptors”, Winkrypto aims to use professional services to motivate the success of clients and buidl the industry. We look forward to empowering your brand and growth and let’s bring true value to the crypto world together!
      .columns
        .column.col-6.col-sm-12.col-mx-auto.mt-2.mb-2
          a.btn.btn-lg(href="https://docsend.com/view/bxyncymyt8fn5jmp" target="_blank") View Winkrypto Deck
      .icon-connector
      h3 Research Report
      .columns
        .column.col-6.col-sm-12.col-mx-auto.mt-2.mb-2
          p Research Report on Learning Channels for Chinese Crypto Practitioners
          a.btn.btn-lg.btn-primary(href="https://docsend.com/view/kmhggtq9cgk8yrzn" target="_blank") View Research Report
      .icon-connector

  #services.section.section-services
    .container.grid-lg.text-center
      h3 Our Services
      .columns
        .column.col-4.col-sm-12
          h4 Value 
          .service
            .service-content
              | Brand Positioning
              br
              | Marketing Strategies
        .column.col-4.col-sm-12
          h4 Consensus
          .service
            .service-content 
              | Investor Relations
              br
              | Integrated Marketing
              br
              | Media Monitoring
              br
              | Event Planning
        .column.col-4.col-sm-12
          h4 Externality
          .service
            .service-content 
              | Financial Advisors
              br
              | Exchange Listing
              br
              | Eco Building
      .icon-connector
    .container.grid-lg.text-center
      h3 Service Process
      .columns
        .column.col-6.col-sm-12.col-mx-auto
          ul.text-large
            li.is-reveal 
              p Project Research and Brand Diagnosis
            li.is-reveal 
              p Communication of Collaboration Needs
            li.is-reveal 
              p Selection and Integration of Suitable Channel Resources
            li.is-reveal 
              p Exclusive Customization of Service Proposal
      .columns
        .column.col-6.col-sm-12.col-mx-auto
          a.btn.btn-lg(href="#contact") Contact Winkrypto

  #clients.section.section-clients
    .container.grid-xl.text-center
      h3 Clients
      .columns
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-17.jpg" loading="lazy" alt="Acala Network")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-44.jpg" loading="lazy" alt="Algorand")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-01.jpg" loading="lazy" alt="Amber")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-20.jpg" loading="lazy" alt="Ankr")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-58.jpg" loading="lazy" alt="AnySwap")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-52.jpg" loading="lazy" alt="Arbitrum")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-84.jpg" loading="lazy" alt="ATTA")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-43.jpg" loading="lazy" alt="Avalanche")
        //- .column.col-2.col-md-6
        //-   img.client-logo.is-reveal(src="assets/img/clients/client-02.jpg" alt="Bianace")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-66.jpg" loading="lazy" alt="Bifrost")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-54.jpg" loading="lazy" alt="Celer")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-78.jpg" loading="lazy" alt="Certik")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-85.jpg" loading="lazy" alt="Chainlink")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-86.jpg" loading="lazy" alt="Chiliz")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-67.jpg" loading="lazy" alt="Clover")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-06.jpg" loading="lazy" alt="Cobo")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-25.jpg" loading="lazy" alt="Dfinity")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-24.jpg" loading="lazy" alt="DODO")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-93.jpg" loading="lazy" alt="Double Protocol")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-46.jpg" loading="lazy" alt="Flow")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-07.jpg" loading="lazy" alt="FTX")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-83.jpg" loading="lazy" alt="Go Pocket")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-72.jpg" loading="lazy" alt="Helium")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-88.jpg" loading="lazy" alt="Harmony")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-45.jpg" loading="lazy" alt="imToken")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-73.jpg" loading="lazy" alt="IoTeX")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-30.jpg" loading="lazy" alt="Kadena")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-31.jpg" loading="lazy" alt="Kava")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-60.jpg" loading="lazy" alt="Kine")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-59.jpg" loading="lazy" alt="Lithium")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-33.jpg" loading="lazy" alt="Loopring")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-68.jpg" loading="lazy" alt="Manta")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-15.jpg" loading="lazy" alt="Math Wallet")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-87.jpg" loading="lazy" alt="Metis")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-47.jpg" loading="lazy" alt="Mina")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-48.jpg" loading="lazy" alt="NEAR")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-50.jpg" loading="lazy" alt="Neo")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-49.jpg" loading="lazy" alt="Nervos")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-65.jpg" loading="lazy" alt="NYM")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-74.jpg" loading="lazy" alt="Octopus")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-81.jpg" loading="lazy" alt="Only1")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-61.jpg" loading="lazy" alt="OpenOcean")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-70.jpg" loading="lazy" alt="Parallel")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-76.jpg" loading="lazy" alt="Parity")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-75.jpg" loading="lazy" alt="PlatON")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-89.jpg" loading="lazy" alt="Polkadot")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-69.jpg" loading="lazy" alt="Polkaswap")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-55.jpg" loading="lazy" alt="Polygon")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-90.jpg" loading="lazy" alt="Shield")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-51.jpg" loading="lazy" alt="Solana")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-63.jpg" loading="lazy" alt="SynFutures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-62.jpg" loading="lazy" alt="Synthetix")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-91.jpg" loading="lazy" alt="Thorchain")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-92.jpg" loading="lazy" alt="X2Y2")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/clients/client-71.jpg" loading="lazy" alt="Zenlink")
      
  #advisors.section.section-team
    .container.grid-lg.text-center
      h3 Advisors
      .columns
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-young.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Bill Young
              p Co-Founder &amp; COO of ChainNews
              p President of Winkrypto
              a.card-member-link(href="https://www.linkedin.com/in/billyoung814/" target="_blank" rel="noopener noreferrer") LinkedIn
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-chaodeng.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Chao Deng
              p Managing Director of HashKey Capital
              a.card-member-link(href="https://www.linkedin.com/in/chao-deng-b3621218/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-fengliu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Feng Liu
              p Co-Founder &amp; Editor-in-Chief of ChainNews
              a.card-member-link(href="https://www.linkedin.com/in/feng-liu-51465b18/" target="_blank" rel="noopener noreferrer") LinkedIn
          
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-pima.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Hongjiang Li (Pima)
              p Co-Founder of Continue Capital

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-jennifer.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Jennifer Liu
              p Funding Partner of D1 Ventures
              a.card-member-link(href="https://www.linkedin.com/in/jenniferonline/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-ligong.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Li Gong
              p Partner of Youbi Capital
              a.card-member-link(href="https://www.linkedin.com/in/li-gong-77614a7/" target="_blank" rel="noopener noreferrer") LinkedIn
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-luciazhang.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Lucia Zhang
              p Founding Partner of Blockchain Hero
              p Global Embassador of Draper University
              p Founding Partner of Arcanum Capital
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-luiz.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Luiz
              p CEO of First.VIP
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-mustafa.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Mustafa
              p Overseas Director of Bixin
              a.card-member-link(href="https://www.linkedin.com/in/mustafa-yilham/" target="_blank" rel="noopener noreferrer") LinkedIn
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-herbie.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Herbie Fu
              p Co-Founder of T3 Labs
              p Asia Representative of Stanford Cryptic Labs
              a.card-member-link(href="https://www.linkedin.com/in/herbiefu/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-qiliu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Qi Liu
              p Founding Partner of SevenX

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-rinhuang.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Rin Huang
              p Partner of Fenbushi Capital
              a.card-member-link(href="https://www.linkedin.com/in/rin-huang-073479146/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-tonygu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Tony Gu
              p Partner of NGC Capital
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-vincentniu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Vincent Niu
              p Partner of Sky9 Capital
              a.card-member-link(href="https://www.linkedin.com/in/niufx/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-xinshu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Xinshu Dong
              p Partner of IOSG Ventures
              p Co-Founder of Zilliqa
              a.card-member-link(href="https://www.linkedin.com/in/xinshudong/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-may.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 May
              p Partner of Spark Digital Capital
              a.card-member-link(href="https://www.linkedin.com/in/may-liu-4a56657b/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-xiwang.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Xi Wang
              p Partner of Bixin Capital
              a.card-member-link(href="https://www.linkedin.com/in/xi-wang-b185a210b/" target="_blank" rel="noopener noreferrer") LinkedIn
              
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-caoyin.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Yin Cao
              p Managing Director of Digital Renaissance Foundation
              a.card-member-link(href="https://www.linkedin.com/in/caoyin/" target="_blank" rel="noopener noreferrer") LinkedIn
        
        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-yitang.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Yi Tang
              p Vice President of Qiming Venture Partners
              a.card-member-link(href="https://www.linkedin.com/in/yitang22/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-rubywu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Ruby Wu
              p Partner of Incuba Alpha
              a.card-member-link(href="https://www.linkedin.com/in/ruby-wu-34938531/" target="_blank" rel="noopener noreferrer") LinkedIn

        .column.col-4.col-sm-12
          .card.card-member.is-reveal
            .card-header
              img.card-member-avatar(src="assets/img/team-member-jacklu.jpg" loading="lazy")
            .card-body
              p.text-bold.text-large.mb-2 Jack Lu
              p Director at NGC Ventures, Economics and Game theory
              a.card-member-link(href="https://www.linkedin.com/in/jackngc/" target="_blank" rel="noopener noreferrer") LinkedIn

  #partners.section.section-partners
    .container.grid-xl.text-center
      h3 Partners
    .container.grid-xl.text-center
      h4 Top Global Venture Capital Firms
      .columns
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-1confirmation.jpg" loading="lazy" alt="1confirmation")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-alameda.jpg" loading="lazy" alt="Alameda Research")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bixincapital.jpg" loading="lazy" alt="Bixin Ventures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cms.jpg" loading="lazy" alt="CMS")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-coatue.jpg" loading="lazy" alt="COATUE")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-continue-capital.jpg" loading="lazy" alt="Continue Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-delphi-digital.jpg" loading="lazy" alt="Delphi Digital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-d1.jpg" loading="lazy" alt="D1 Ventures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-fbg.jpg" loading="lazy" alt="FBG")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-fenbushi.jpg" loading="lazy" alt="Fenbushi")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-framework.jpg" loading="lazy" alt="Framework Ventures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-hashkey.jpg" loading="lazy" alt="Hashkey")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-iosg.jpg" loading="lazy" alt="IOSG")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-jumpcapital.jpg" loading="lazy" alt="Jump Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-lightspeed.jpg" loading="lazy" alt="Lightspeed")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-longhash.jpg" loading="lazy" alt="Longhash Ventures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-mask.jpg" loading="lazy" alt="Mask Network")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-mechanism.jpg" loading="lazy" alt="Mechanism Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-multicoin.jpg" loading="lazy" alt="Multicoin Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-ngc.jpg" loading="lazy" alt="NGC Ventures")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-okx.jpg" loading="lazy" alt="OKX")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-pantera.jpg" loading="lazy" alt="Pantera")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-paradigm.jpg" loading="lazy" alt="Paradigm")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-polychain.jpg" loading="lazy" alt="Polychain Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-qiming.jpg" loading="lazy" alt="Qiming Venture Partners")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-ribbit.jpg" loading="lazy" alt="Ribbit Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-sevenx.jpg" loading="lazy" alt="SevenX")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-sky9.jpg" loading="lazy" alt="Sky9 Capital")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-snz.jpg" loading="lazy" alt="SNZ")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-spartan.jpg" loading="lazy" alt="Spartan")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-tigerglobal.jpg" loading="lazy" alt="Tiger Global")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-youbi.jpg" loading="lazy" alt="Youbi")

    .container.grid-xl.text-center
      h4 Global Core Media &amp; Communities
      .columns
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-ambcrypto.jpg" loading="lazy" alt="AMBCrypto")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-beincrypto.jpg" loading="lazy" alt="BeInCrypto")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitcoinaddict.jpg" loading="lazy" alt="Bitcoin Addict")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitcoin-magazine.jpg" loading="lazy" alt="Bitcoin Magazine")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blogtienao.jpg" loading="lazy" alt="Blogtienao")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bloomberg.jpg" loading="lazy" alt="Bloomberg")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blockmedia.jpg" loading="lazy" alt="Block Media")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blockworks.jpg" loading="lazy" alt="BlockWorks")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-8btc.jpg" loading="lazy" alt="8BTC")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-chainfeeds.jpg" loading="lazy" alt="Chainfeeds")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-coindesk.jpg" loading="lazy" alt="CoinDesk")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-coinpost.jpg" loading="lazy" alt="CoinPost")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cointelegraph.jpg" loading="lazy" alt="CoinTelegraph")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-crypto-briefing.jpg" loading="lazy" alt="Crypto Briefing")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cryptonews.jpg" loading="lazy" alt="Crypto News")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cryptopotato.jpg" loading="lazy" alt="Cryptopotato")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cryptoslate.jpg" loading="lazy" alt="CryptoSlate")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-decrypt.jpg" loading="lazy" alt="Decrypt")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blocktempo.jpg" loading="lazy" alt="Block Tempo")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-dnu.jpg" loading="lazy" alt="DNU")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-defieye.jpg" loading="lazy" alt="DeFi Eye")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-forbes.jpg" loading="lazy" alt="Forbes")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-forklog.jpg" loading="lazy" alt="forklog")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-foresightnews.jpg" loading="lazy" alt="Foresight News")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-grenade.jpg" loading="lazy" alt="Grenade")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-jiemian.jpg" loading="lazy" alt="Jiemian")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-jinse.jpg" loading="lazy" alt="Jinse")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-chaincatcher.jpg" loading="lazy" alt="Chaincatcher")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-lianchaguan.jpg" loading="lazy" alt="Lianchaguan")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-abmedia.jpg" loading="lazy" alt="Abmedia")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-nextdao.jpg" loading="lazy" alt="Next DAO")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-newsbtc.jpg" loading="lazy" alt="NewsBTC")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-panews.jpg" loading="lazy" alt="PANEWS")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blockbeats.jpg" loading="lazy" alt="Blockbeats")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-blockcast.jpg" loading="lazy" alt="BlockCast")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-seedao.jpg" loading="lazy" alt="SeeDAO")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-snapfingers.jpg" loading="lazy" alt="Snapfingers")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-theblock.jpg" loading="lazy" alt="The Block")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-tokenpost.jpg" loading="lazy" alt="TokenPost")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-techflow.jpg" loading="lazy" alt="Tech Flow")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-tencent.jpg" loading="lazy" alt="Tencent News")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-tokeninsight.jpg" loading="lazy" alt="Tokeninsight")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-firstvip.jpg" loading="lazy" alt="First.vip")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-talkchain.jpg" loading="lazy" alt="Talkchain")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-tapchibitcoin.jpg" loading="lazy" alt="Tapchibitcoin")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-wushuo.jpg" loading="lazy" alt="Wushuo")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-wanxiang.jpg" loading="lazy" alt="Wanxiang")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-zombit.jpg" loading="lazy" alt="Zombit")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-7oclock.jpg" loading="lazy" alt="7 O'clock")

    .container.grid-xl.text-center
      h4 Influential Global KOLs
      .columns
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-1.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-2.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-3.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-4.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-5.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-6.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-7.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-8.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-9.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-10.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-11.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-12.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-13.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-14.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-15.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-16.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-17.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-18.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-19.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-20.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-21.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-22.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-23.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-24.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-25.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-26.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-27.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-28.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-29.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-30.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-31.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-32.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-33.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-34.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-35.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-36.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-37.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-38.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-39.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-40.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-41.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-42.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-43.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-44.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-45.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-46.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-47.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-48.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-49.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-50.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-51.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-52.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-53.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-54.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-55.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-56.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-57.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-58.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-59.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-60.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-61.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-62.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-63.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-64.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-65.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-66.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-67.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-68.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-69.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-70.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-71.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-72.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-73.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-74.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-75.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-76.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-77.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-78.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-79.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-80.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-81.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-82.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-83.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-84.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-85.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-86.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-87.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-88.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-89.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-90.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-91.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-92.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-93.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-94.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-95.jpg" loading="lazy")
        .column.col-1.col-md-2
          img.kol-logo.is-reveal(src="assets/img/kols/kol-96.jpg" loading="lazy")

    .container.grid-xl.text-center
      h4 Top Global Exchanges
      .columns
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-ace.jpg" loading="lazy" alt="ACE Exchange")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bigone.jpg" loading="lazy" alt="BigONE")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-binance.jpg" loading="lazy" alt="Binance")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-binance-us.jpg" loading="lazy" alt="Binance US")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitfinex.jpg" loading="lazy" alt="Bitfinex")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitflyer.jpg" loading="lazy" alt="bitFlyer")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitget.jpg" loading="lazy" alt="Bitget")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bithumb.jpg" loading="lazy" alt="bithumb")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitmart.jpg" loading="lazy" alt="BitMart")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitpanda.jpg" loading="lazy" alt="Bitpanda")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bitstamp.jpg" loading="lazy" alt="Bitstamp")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-bybit.jpg" loading="lazy" alt="Bybit")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-coinbase.jpg" loading="lazy" alt="Coinbase")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-coincheck.jpg" loading="lazy" alt="Coincheck")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-cryptocom.jpg" loading="lazy" alt="Crypto.com")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-deribit.jpg" loading="lazy" alt="Deribit")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-digifinex.jpg" loading="lazy" alt="Digifinex")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-ftx.jpg" loading="lazy" alt="FTX")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-gate.jpg" loading="lazy" alt="Gate")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-gemini.jpg" loading="lazy" alt="Gemini")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-huobi.jpg" loading="lazy" alt="Huobi")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-kraken.jpg" loading="lazy" alt="Kraken")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-kucoin.jpg" loading="lazy" alt="Kucoin")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-mercado.jpg" loading="lazy" alt="Mercado Bitcoin")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-mexc.jpg" loading="lazy" alt="MEXC")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-okcoin.jpg" loading="lazy" alt="okcoin")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-okx.jpg" loading="lazy" alt="OKX (OKEx)")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-paribu.jpg" loading="lazy" alt="Paribu")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-upbit.jpg" loading="lazy" alt="UPbit")
        .column.col-2.col-md-6
          img.client-logo.is-reveal(src="assets/img/partners/partner-yobit.jpg" loading="lazy" alt="Yobit.net")

  #brand.section.section-brand
    .container.grid-md.text-center
      h3 Brand & Logo
      .columns.mediakit
        .column.col-6.col-sm-12
          .mediakit-item.bg-light
            img.img-responsive(loading="lazy" alt="Winkrypto Dark Logo" src="assets/img/logo/logo-winkrypto-dark.png")
            p.text-dark Download: 
              a.mediakit-link.text-dark(href="assets/img/logo/logo-winkrypto-dark.png" alt="Winkrypto Dark Logo" target="_blank" rel="noopener noreferrer") PNG
              span.ml-2.mr-2 ·
              a.mediakit-link.text-dark(href="assets/img/logo/logo-winkrypto-dark.svg" alt="Winkrypto Dark Logo" target="_blank" rel="noopener noreferrer") SVG
        .column.col-6.col-sm-12
          .mediakit-item.bg-dark
            img.img-responsive(loading="lazy" alt="Winkrypto Light Logo" src="assets/img/logo/logo-winkrypto-light.png")
            p Download: 
              a.mediakit-link.text-light(href="assets/img/logo/logo-winkrypto-light.png" alt="Winkrypto Light Logo" target="_blank" rel="noopener noreferrer") PNG
              span.ml-2.mr-2 ·
              a.mediakit-link.text-light(href="assets/img/logo/logo-winkrypto-light.svg" alt="Winkrypto Light Logo" target="_blank" rel="noopener noreferrer") SVG

  #contact.section.section-contact
    .container.grid-sm
      .container-contact.text-center.is-reveal
        h3 Contact
        p.text-large.text-bold Let’s talk business
        p
          i.icon.icon-mail.mr-2.text-primary
          a(href="mailto:hi@winkrypto.com") hi@winkrypto.com

  #footer.section.section-footer
    .container.grid-lg.text-center
      img.winkrypto-logo(src="assets/img/logo-winkrypto-2022.svg")
      a.btn-social(href="https://twitter.com/winkrypto/" target="_blank")
        img.mr-1(src="assets/img/icon-twitter.svg")
    .container.grid-lg.text-center
      small.text-bold.mr-2 Crypto Integrated Marketing Communication Expert
    .container.grid-lg.text-center
      small.ml-2 Copyright &copy; 2022 Winkrypto. All Rights Reserved.