block ad-adsense-sidebar
  .docs-sponsor.docs-sponsor-sidebar.text-center
    script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    // GitHub-lg
    ins.adsbygoogle.mx-auto(style='display:inline-block;width:120px;height:240px', data-ad-client='ca-pub-2225124559530218', data-ad-slot='5087273059')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
