block ad-adsense
  .docs-ad
    .hide-md.text-center
      script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // GitHub-lg
      ins.adsbygoogle.mx-auto(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-2225124559530218', data-ad-slot='9894180784')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    .show-md.text-center
      // GitHub-sm
      ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-2225124559530218', data-ad-slot='9278881734')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});