block aside
  .sidebar-container
    .rework-brand
      a.brand-logo(href=domain)
        span.brand-primary D
        span.brand-secondary.ml-1 DEVICES
        span.brand-extra.ml-1 .CSS
        h1.text-assistive Devices.css
    nav.rework-menu
      a.menu-parent(href="phones.html") Phones
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="phones.html#iphone-14-pro") iPhone 14 Pro
        li.menu-item
          a.rework-title(href="phones.html#iphone-x") iPhone X
        li.menu-item
          a.rework-title(href="phones.html#iphone-8") iPhone 8
        li.menu-item
          a.rework-title(href="phones.html#google-pixel-2-xl") Google Pixel 2 XL
        li.menu-item
          a.rework-title(href="phones.html#google-pixel") Google Pixel
        li.menu-item
          a.rework-title(href="phones.html#samsung-galaxy-s8") Samsung Galaxy S8
      
      a.menu-parent(href="computers.html") Computers
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="computers.html#macbook-pro") MacBook Pro
        li.menu-item
          a.rework-title(href="computers.html#macbook-pro-2018") MacBook Pro (2018)
        li.menu-item
          a.rework-title(href="computers.html#macbook") MacBook
        li.menu-item
          a.rework-title(href="computers.html#imac") iMac
        li.menu-item
          a.rework-title(href="computers.html#surface-book") Surface Book
        li.menu-item
          a.rework-title(href="computers.html#surface-studio") Surface Studio

      a.menu-parent(href="tablets.html") Tablets
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="tablets.html#ipad-pro") iPad Pro
        li.menu-item
          a.rework-title(href="tablets.html#ipad-pro-2017") iPad Pro (2017)
        li.menu-item
          a.rework-title(href="tablets.html#surface-pro") Surface Pro
      
      a.menu-parent(href="watches.html") Watches
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="watches.html#apple-watch-ultra") Apple Watch Ultra

    .rework-ads
      .rework-ad
        a.btn.btn-link.btn-block(href="https://www.paypal.me/picturepan2" target="_blank" rel="noopener noreferrer") PayPal Sponsor