block aside
  .sidebar-container
    .rework-brand
      a.brand-logo(href="/")
        span.brand-primary D
        span.brand-secondary.ml-1 DEVICES
        span.brand-extra.ml-1 .CSS
        h1.text-assistive Devices.css
    nav.rework-menu
      a.menu-parent(href="#") Phone
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="#") iPhone X
        li.menu-item
          a.rework-title(href="#") iPhone 8
        li.menu-item
          a.rework-title(href="#") Google Pixel 2 XL
        li.menu-item
          a.rework-title(href="#") Google Pixel
        li.menu-item
          a.rework-title(href="#") Samsung Galaxy S8
      
      a.menu-parent(href="#") Computer
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="#") MacBook
        li.menu-item
          a.rework-title(href="#") MacBook Pro
        li.menu-item
          a.rework-title(href="#") iMac Pro
        li.menu-item
          a.rework-title(href="#") Surface Book
        li.menu-item
          a.rework-title(href="#") Surface Studio

      a.menu-parent(href="#") Tablet
      ul.menu.menu-nav
        li.menu-item
          a.rework-title(href="#") iPad Pro (2017)
        li.menu-item
          a.rework-title(href="#") Surface Pro
    .rework-ads
      .rework-ad
        a.btn.btn-link.btn-block(href="https://www.paypal.me/picturepan2" target="_blank" rel="noopener noreferrer") PayPal Donate

    