// Apple Watch
$device-gray: #555;
$device-gray-dark: darken($device-gray, 10%);
$device-gray-panel: #0d0d0d;

.device-apple-watch {
  height: 374px;
  padding: 70px 0;
  width: 200px;

  .device-frame {
    background: $device-gray-panel;
    border-radius: 40px;
    box-shadow: inset 0 0 2px 2px $device-gray-dark, inset 0 0 0 8px $device-gray, inset 0 0 0 10px $device-gray-dark;
    height: 234px;
    padding: 32px;
    position: relative;
    width: 200px;

    // 272-by-340-pixel resolution
    .device-content {
      background-color: #fff;
      background-image: url("../src/img/bg-08.jpg");
      background-position: center center;
      background-size: cover;
      border: 2px solid lighten($device-silver-panel, 2%);
      border-radius: 2px;
      height: 170px;
      position: relative;
      width: 136px;
    }

    &::before {
      box-shadow: 0 -2px 24px 0 $device-gray-dark, 0 2px 24px 0 $device-gray-dark;
      content: "";
      height: 234px;
      left: 50%;
      margin-left: -68px;
      position: absolute;
      top: 0;
      width: 136px;
      z-index: -1;
    }
  }

  .device-btns {
    background: $device-gray;
    border-left: 2px solid darken($device-gray-dark, 10%);
    border-radius: 8px 4px 4px 8px / 20px 4px 4px 20px;
    box-shadow: inset 0 0 2px 2px $device-gray-dark;
    height: 44px;
    position: absolute;
    right: -10px;
    top: 122px;
    width: 16px;

    &::after {
      background: $device-gray;
      border-left: 2px solid darken($device-gray-dark, 5%);
      border-radius: 4px 2px 2px 4px / 10px 2px 2px 10px;
      box-shadow: inset 0 0 1px 2px $device-gray-dark;
      content: "";
      height: 66px;
      right: 6px;
      position: absolute;
      top: 66px;
      width: 8px;
    }
    
    &::before {
      background: $device-gray-dark;
      box-shadow: 0 -16px $device-gray-dark, 0 -12px $device-gray-dark, 0 -8px $device-gray-dark, 0 -4px $device-gray-dark, 0 4px $device-gray-dark, 0 8px $device-gray-dark, 0 12px $device-gray-dark, 0 16px $device-gray-dark;
      content: "";
      height: 2px;
      margin-top: -1px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 6px;
    }
  }

  .device-power {
    background: linear-gradient(to top, lighten($device-gray-dark, 5%) 5%, $device-gray 35%, $device-gray 100%);
    border-radius: 0 0 200px 200px / 0 0 60px 60px;
    bottom: 0;
    box-shadow: 0 2px 0 0 $device-gray-dark;
    height: 80px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    width: 120px;
    z-index: -2;

    &::after,
    &::before {
      bottom: 25px;
      content: "";
      height: 70px;
      position: absolute;
      width: 100px;
      z-index: -10;
    }
    &::after {
      background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, $device-gray 75%, $device-gray 100%);
      left: -92px;
    }
    &::before {
      background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, $device-gray 75%, $device-gray 100%);
      right: -92px;
    }
  }

  .device-home {
    background: linear-gradient(to bottom, lighten($device-gray-dark, 5%) 5%, $device-gray 35%, $device-gray 100%);
    border-radius: 200px 200px 0 0 / 60px 60px 0 0;
    box-shadow: 0 -2px 0 0 $device-gray-dark;
    height: 80px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: -2;

    &::after,
    &::before {
      content: "";
      height: 70px;
      position: absolute;
      top: 25px;
      width: 100px;
      z-index: -10;
    }
    &::after {
      background: radial-gradient(circle at top left, transparent 0, transparent 75%, $device-gray 75%, $device-gray 100%);
      left: -92px;
    }
    &::before {
      background: radial-gradient(circle at top right, transparent 0, transparent 75%, $device-gray 75%, $device-gray 100%);
      right: -92px;
    }
  }
}