@import "functions";

// Galaxy S8
$device-black: #cfcfcf;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #222;
$device-blue: #a3c5e8;
$device-blue-dark: darken($device-blue, 20%);
$device-blue-panel: #222;

.device-galaxy-s8 {
  --device-width: 380;
  height: getCqi(828);
  width: 100cqi;

  .device-frame {
    background: $device-black-panel;
    border: solid $device-black;
    border-radius: getCqi(55);
    border-width: getCqi(5) 0;
    box-shadow: inset 0 0 0 getCqi(2) $device-black-dark;
    height: getCqi(828);
    padding: getCqi(48) getCqi(10) getCqi(40) getCqi(10);
    width: getCqi(380);
  }

  // 2960-by-1440-pixel resolution
  .device-screen {
    border: getCqi(2) solid #222;
    border-radius: getCqi(34);
    height: getCqi(740);
    width: getCqi(360);
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: getCqi(5) 0;
      content: "";
      height: getCqi(828);
      position: absolute;
      top: 0;
      width: getCqi(6);
      z-index: 9;
    }
    &::after {
      left: getCqi(48);
    }
    &::before {
      right: getCqi(48);
    }
  }

  .device-sensors {
    background: #666;
    border-radius: getCqi(3);
    height: getCqi(6);
    left: 50%;
    margin-left: getCqi(-24);
    margin-top: getCqi(-3);
    position: absolute;
    top: getCqi(32);
    width: getCqi(48);

    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 50%;
    }
    &::after {
      box-shadow: getCqi(-192) 0 #333, getCqi(-174) 0 #333, getCqi(-240) 0 #333;
      height: getCqi(8);
      right: getCqi(-90);
      margin-top: getCqi(-4);
      width: getCqi(8);
    }
    &::before {
      box-shadow: getCqi(186) 0 #666;
      height: getCqi(12);
      left: getCqi(-90);
      margin-top: getCqi(-6);
      width: getCqi(12);
    }
  }

  .device-btns {
    background: $device-black-dark;
    border-radius: getCqi(3) 0 0 getCqi(3);
    height: getCqi(116);
    left: getCqi(-3);
    position: absolute;
    top: getCqi(144);
    width: getCqi(3);

    &::after {
      background: $device-black-dark;
      border-radius: getCqi(3) 0 0 getCqi(3);
      content: "";
      height: getCqi(54);
      left: 0;
      position: absolute;
      top: getCqi(164);
      width: getCqi(3);
    }
  }

  .device-power {
    background: $device-black-dark;
    border-radius: 0 getCqi(3) getCqi(3) 0;
    height: getCqi(54);
    right: getCqi(-3);
    position: absolute;
    top: getCqi(260);
    width: getCqi(3);
  }

  // Coral Blue edition
  &.device-blue {
    .device-frame {
      border-color: $device-blue;
      box-shadow: inset 0 0 0 getCqi(2) $device-blue-dark;
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#fff, .35);
      }
    }

    .device-btns {
      &,
      &::after {
        background: $device-blue-dark;
      }
    }

    .device-power {
      background: $device-blue-dark;
    }
  }
}
