// Galaxy S8
$device-black: #cfcfcf;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #222;
$device-blue: #a3c5e8;
$device-blue-dark: darken($device-blue, 20%);
$device-blue-panel: #222;

.device-galaxy-s8 {
  background: $device-black-panel;
  border: solid $device-black;
  border-width: 4px 0;
  border-radius: 46px;
  box-shadow: inset 0 0 0 2px $device-black-dark;
  display: block;
  height: 686px;
  position: relative;
  width: 316px;
  z-index: 1;

  .device-frame {
    border-radius: 48px;
    height: 686px;
    padding: 40px 8px 34px 8px;
    width: 316px;

    // 2960-by-1440-pixel resolution
    .device-content {
      background-color: #fff;
      background-image: url("../src/img/bg-04.jpg");
      background-position: center center;
      background-size: cover;
      border: 2px solid #222;
      border-radius: 28px;
      display: block;
      height: 617px;
      position: relative;
      width: 300px;
      z-index: -1;
    }
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 4px 0;
      content: "";
      display: block;
      height: 686px;
      position: absolute;
      top: -4px;
      width: 5px;
      z-index: 9;
    }
    &::after {
      left: 40px;
    }
    &::before {
      right: 40px;
    }
  }

  .device-header {
    display: block;
    height: 36px;
    left: 50%;
    margin-left: -95px;
    position: absolute;
    top: 4px;
    width: 190px;
    z-index: 199;

    &::after {
      background: #666;
      border-radius: 2.5px;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      margin-left: -20px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 40px;
    }
  }

  .device-sensors {
    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
    }
    &::after {
      box-shadow: -160px 0 #333, -145px 0 #333, -200px 0 #333;
      height: 6px;
      right: 0;
      margin-top: -3px;
      width: 6px;
    }
    &::before {
      box-shadow: 155px 0 #666;
      height: 10px;
      left: 0;
      margin-top: -5px;
      width: 10px;
    }
  }

  .device-btns {
    background: $device-black-dark;
    border-radius: 2px 0 0 2px;
    display: block;
    height: 98px;
    left: -1px;
    position: absolute;
    top: 120px;
    width: 3px;

    &::after {
      background: $device-black-dark;
      border-radius: 2px 0 0 2px;
      content: "";
      display: block;
      height: 45px;
      left: 0;
      position: absolute;
      top: 138px;
      width: 3px;
    }
  }

  .device-power {
    background: $device-black-dark;
    border-radius: 0 2px 2px 0;
    display: block;
    height: 46px;
    right: -1px;
    position: absolute;
    top: 218px;
    width: 3px;
  }

  .device-home {
    border: 2px solid $device-black-dark;
    border-radius: 50%;
    bottom: 20px;
    display: block;
    height: 46px;
    left: 50%;
    margin-left: -23px;
    position: absolute;
    width: 46px;
  }

  // Coral Blue edition
  &.device-blue {
    border-color: $device-blue;
    box-shadow: inset 0 0 0 2px $device-blue-dark;

    .device-content {
      background-image: url("../src/img/bg-05.jpg");
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#ccc, .35);
      }
    }

    .device-btns {
      &,
      &::after {
        background: $device-blue-dark;
      }
    }

    .device-power {
      background: $device-blue-dark;
    }
  }
}