// Galaxy S8
$device-black: #cfcfcf;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #222;
$device-blue: #a3c5e8;
$device-blue-dark: darken($device-blue, 20%);
$device-blue-panel: #222;

.device-galaxy-s8 {
  height: 686px;
  width: 316px;

  .device-frame {
    background: $device-black-panel;
    border: solid $device-black;
    border-radius: 46px;
    border-width: 4px 0;
    box-shadow: inset 0 0 0 2px $device-black-dark;
    height: 686px;
    padding: 40px 8px 34px 8px;
    width: 316px;
  }

  // 2960-by-1440-pixel resolution
  .device-content {
    background-image: url("../src/img/bg-04.jpg");
    border: 2px solid #222;
    border-radius: 28px;
    height: 617px;
    width: 300px;
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 4px 0;
      content: "";
      height: 686px;
      position: absolute;
      top: 0;
      width: 5px;
      z-index: 9;
    }
    &::after {
      left: 40px;
    }
    &::before {
      right: 40px;
    }
  }

  .device-sensors {
    background: #666;
    border-radius: 2.5px;
    height: 4px;
    left: 50%;
    margin-left: -20px;
    margin-top: -2px;
    position: absolute;
    top: 26px;
    width: 40px;

    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 50%;
    }
    &::after {
      box-shadow: -160px 0 #333, -145px 0 #333, -200px 0 #333;
      height: 6px;
      right: -75px;
      margin-top: -3px;
      width: 6px;
    }
    &::before {
      box-shadow: 155px 0 #666;
      height: 10px;
      left: -75px;
      margin-top: -5px;
      width: 10px;
    }
  }

  .device-btns {
    background: $device-black-dark;
    border-radius: 2px 0 0 2px;
    height: 98px;
    left: -2px;
    position: absolute;
    top: 120px;
    width: 3px;

    &::after {
      background: $device-black-dark;
      border-radius: 2px 0 0 2px;
      content: "";
      height: 45px;
      left: 0;
      position: absolute;
      top: 138px;
      width: 3px;
    }
  }

  .device-power {
    background: $device-black-dark;
    border-radius: 0 2px 2px 0;
    height: 46px;
    right: -2px;
    position: absolute;
    top: 218px;
    width: 3px;
  }

  // Coral Blue edition
  &.device-blue {
    .device-frame {
      border-color: $device-blue;
      box-shadow: inset 0 0 0 2px $device-blue-dark;
    }

    .device-content {
      background-image: url("../src/img/bg-05.jpg");
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#fff, .35);
      }
    }

    .device-btns {
      &,
      &::after {
        background: $device-blue-dark;
      }
    }

    .device-power {
      background: $device-blue-dark;
    }
  }
}