@import "functions";

// Google Pixel 2 XL
$device-black: #cfcfcf;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #121212;

.device-google-pixel-2-xl {
  --device-width: 404;
  height: getCqi(832);
  width: 100cqi;

  .device-frame {
    background: $device-black-panel;
    border-radius: getCqi(36);
    box-shadow: inset 0 0 0 getCqi(2) $device-black, inset 0 0 0 getCqi(7) $device-black-dark;
    height: getCqi(832);
    padding: getCqi(56) getCqi(22);
    width: getCqi(404);
  }

  // 2880-by-1440-pixel resolution
  .device-screen {
    border-radius: getCqi(27);
    height: getCqi(720);
    width: getCqi(360);
  }

  .device-header {
    height: getCqi(832);
    left: 50%;
    margin-left: getCqi(-150);
    position: absolute;
    top: 0;
    width: getCqi(300);

    &::after,
    &::before {
      background: #333;
      border-radius: getCqi(3);
      content: "";
      height: getCqi(6);
      left: 50%;
      margin-left: getCqi(-73);
      margin-top: getCqi(-3);
      position: absolute;
      width: getCqi(146);
    }
    &::after {
      top: getCqi(24);
    }
    &::before {
      bottom: getCqi(28);
    }
  }

  .device-sensors {
    background: #333;
    border-radius: getCqi(7);
    height: getCqi(14);
    left: getCqi(54);
    margin-top: getCqi(-7);
    position: absolute;
    top: getCqi(36);
    width: getCqi(14);
  }

  .device-btns {
    background: $device-black;
    height: getCqi(102);
    position: absolute;
    right: getCqi(-3);
    top: getCqi(306);
    width: getCqi(3);
  }

  .device-power {
    background: $device-black;
    height: getCqi(58);
    position: absolute;
    right: getCqi(-3);
    top: getCqi(194);
    width: getCqi(3);
  }
}
