@import "functions";

// Google Pixel
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #f7f7f8;
$device-black: #6a6967;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #211d1c;
$device-blue: #7695ff;
$device-blue-dark: darken($device-blue, 15%);
$device-blue-panel: #f7f7f8;

.device-google-pixel {
  --device-width: 360;
  height: getCqi(744);
  width: 100cqi;

  .device-frame {
    background: $device-silver-panel;
    border-radius: getCqi(54);
    box-shadow: inset 0 0 0 getCqi(2) $device-silver-dark, inset 0 0 0 getCqi(6) $device-silver, inset 0 0 0 getCqi(10) lighten($device-silver-panel, 10%);
    height: getCqi(744);
    padding: getCqi(82) getCqi(18) getCqi(86) getCqi(18);
    width: getCqi(360);
  }

  // 1920-by-1080-pixel resolution
  .device-screen {
    border: getCqi(2) solid #222;
    border-radius: getCqi(2);
    height: getCqi(576);
    width: getCqi(324);
  }

  .device-stripe {
    border-top: getCqi(6) solid rgba(#333, .15);
    bottom: 0;
    left: getCqi(254);
    position: absolute;
    top: 0;
    width: getCqi(8);

    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 0 getCqi(6);
      content: "";
      height: getCqi(10);
      left: getCqi(-254);
      position: absolute;
      width: getCqi(360);
      z-index: 9;
    }
    &::after {
      top: getCqi(60);
    }
    &::before {
      bottom: getCqi(46);
    }
  }

  .device-sensors {
    background: #ddd;
    border-radius: getCqi(2.5);
    height: getCqi(5);
    left: 50%;
    margin-left: getCqi(-39);
    margin-top: getCqi(-2.5);
    position: absolute;
    top: getCqi(41);
    width: getCqi(78);

    &::after,
    &::before {
      background: #333;
      border-radius: getCqi(6);
      content: "";
      position: absolute;
    }
    &::after {
      height: getCqi(12);
      left: 50%;
      margin-left: getCqi(-14);
      top: getCqi(21.5);
      width: getCqi(28);
    }
    &::before {
      height: getCqi(10);
      left: getCqi(-81);
      margin-top: getCqi(-5);
      top: 50%;
      width: getCqi(10);
    }
  }

  .device-btns {
    background: $device-silver-dark;
    height: getCqi(102);
    position: absolute;
    right: getCqi(-2);
    top: getCqi(298);
    width: getCqi(3);
  }

  .device-power {
    background: $device-silver-dark;
    height: getCqi(50);
    position: absolute;
    right: getCqi(-2);
    top: getCqi(184);
    width: getCqi(3);
  }

  // Black edition
  &.device-black {
    .device-frame {
      background: $device-black-panel;
      box-shadow: inset 0 0 0 getCqi(2) $device-black-dark, inset 0 0 0 getCqi(6) $device-black, inset 0 0 0 getCqi(10) lighten($device-black-panel, 10%);
    }

    .device-stripe {
      &,
      &::after,
      &::before {
        border-color: rgba(#0d0d0d, .35);
      }
    }

    .device-sensors {
      background: #444;

      &::after {
        background: #0d0d0d;
      }
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-black-dark;
      }
    }

    .device-power {
      background: $device-black-dark;
    }
  }

  // Blue edition
  &.device-blue {
    .device-frame {
      box-shadow: inset 0 0 0 getCqi(2) $device-blue-dark, inset 0 0 0 getCqi(6) $device-blue, inset 0 0 0 getCqi(10) lighten($device-blue-panel, 10%);
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-blue-dark;
      }
    }

    .device-power {
      background: $device-blue-dark;
    }
  }
}
