@import "functions";

// HomePod
$device-silver: #36373a;
$device-silver-light: lighten($device-silver, 35%);
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #0d0d0d;

.device-homepod {
  --device-width: 320;
  height: getCqi(395);
  width: 100cqi;
  display: flex;

  .device-frame {
    background: linear-gradient(to right, $device-silver 0, lighten($device-silver, 35%) 25%, $device-silver-dark 60%, darken($device-silver-dark, 5%) 90%, $device-silver-dark 100%);
    border-radius: getCqi(80);
    box-shadow: inset 0 0 0 getCqi(2) $device-silver,
    inset 0 0 getCqi(40) getCqi(1) $device-silver-dark,
    inset 0 getCqi(12) getCqi(40) getCqi(1) lighten($device-silver, 80%),
    inset 0 getCqi(-24) getCqi(40) getCqi(1) darken($device-silver, 80%);
    height: getCqi(385);
    margin: getCqi(5) auto;
    overflow: hidden;
    position: relative;
    width: getCqi(320);
  }

  .device-stripe {
    background: repeating-linear-gradient(
                    45deg,
                    rgba($device-silver-light, .35) 0,
                    rgba($device-silver-light, .35) getCqi(2),
                    transparent getCqi(2),
                    transparent getCqi(6)
    ),
    repeating-linear-gradient(
                    135deg,
                    rgba($device-silver-light, .35) 0,
                    rgba($device-silver-light, .35) getCqi(2),
                    transparent getCqi(2),
                    transparent getCqi(6)
    ),
    repeating-linear-gradient(
                    45deg,
                    transparent 0,
                    transparent getCqi(2),
                    rgba($device-silver-dark, .35) getCqi(2),
                    rgba($device-silver-dark, .35) getCqi(4),
                    transparent getCqi(4),
                    transparent getCqi(6)
    ),
    repeating-linear-gradient(
                    135deg,
                    transparent 0,
                    transparent getCqi(2),
                    rgba($device-silver-dark, .35) getCqi(2),
                    rgba($device-silver-dark, .35) getCqi(4),
                    transparent getCqi(4),
                    transparent getCqi(6)
    );
    border-radius: getCqi(80);
    box-shadow: inset 0 0 0 getCqi(2) $device-silver,
    inset 0 0 getCqi(40) getCqi(1) $device-silver-dark,
    inset 0 getCqi(12) getCqi(24) getCqi(1) lighten($device-silver, 40%),
    inset 0 getCqi(-12) getCqi(24) getCqi(1) darken($device-silver, 20%);
    height: getCqi(385);
    left: 0;
    overflow: hidden;
    position: absolute;
    top: getCqi(5);
    width: getCqi(320);
    z-index: 9;

    &::before {
      top: 0;
      transform: translateY(-34%) perspective(500px) rotateX(51deg);
    }

    &::after {
      bottom: 0;
      transform: translateY(34%) perspective(500px) rotateX(-51deg) ;
    }
  }

  .device-home {
    &::before,
    &::after {
      background: $device-silver;
      content: "";
      left: 50%;
      position: absolute;
    }

    &::before {
      border-radius: 50% 50% getCqi(8) getCqi(8);
      height: getCqi(10);
      margin-left: getCqi(-85);
      top: 0;
      width: getCqi(170);
    }

    &::after {
      border-radius: 0 0 10% 10% / 0 0 getCqi(8) getCqi(8);
      bottom: 0;
      box-shadow: inset 0 0 getCqi(4) 0 darken($device-silver-dark, 5%);
      height: getCqi(5);
      margin-left: getCqi(-85);
      width: getCqi(170);
    }
  }
}
