// iMac Pro
$device-spacegray: #54525b;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #0d0d0d;

.device-imac-pro {
  height: 494px;
  width: 624px;

  .device-frame {
    background: $device-spacegray-panel;
    border-radius: 18px;
    box-shadow: inset 0 0 0 2px darken($device-spacegray-panel, 2%);
    height: 428px;
    padding: 24px 24px 80px 24px;
    position: relative;
    width: 624px;

    &::after {
      background: $device-spacegray-dark;
      border-radius: 0 0 18px 18px;
      bottom: 2px;
      content: "";
      height: 54px;
      left: 2px;
      position: absolute;
      width: 620px;
    }
    &::before {
      bottom: 15px;
      color: $device-spacegray-panel;
      content: "";
      font-size: 24px;
      height: 24px;
      left: 50%;
      line-height: 24px;
      margin-left: -100px;
      position: absolute;
      text-align: center;
      width: 200px;
      z-index: 1;
    }
  }

  // 5120‑by‑2880-pixel resolution
  .device-content {
    background-color: #fff;
    background-image: url("../src/img/bg-08.jpg");
    background-position: center center;
    background-size: cover;
    border: 2px solid lighten($device-spacegray-panel, 2%);
    border-radius: 2px;
    height: 324px;
    position: relative;
    width: 576px;
  }

  .device-power {
    border: solid transparent;
    border-bottom-color: lighten($device-spacegray-panel, 10%);
    border-width: 0 2px 50px 2px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 122px;

    &::after,
    &::before {
      content: "";
      height: 50px;
      position: absolute;
      top: 0;
      width: 200px;
    }
    &::after {
      background: radial-gradient(circle at top left, transparent 0, transparent 85%, lighten($device-spacegray-panel, 10%) 85%, lighten($device-spacegray-panel, 10%) 100%);
      left: -180px;
    }
    &::before {
      background: radial-gradient(circle at top right, transparent 0, transparent 85%, lighten($device-spacegray-panel, 10%) 85%, lighten($device-spacegray-panel, 10%) 100%);
      right: -180px;
    }
  }

  .device-home {
    border: solid transparent;
    border-bottom-color: $device-spacegray;
    border-width: 0 26px 12px 26px;
    height: 12px;
    margin: 0 auto;
    position: relative;
    width: 194px;

    &::after {
      background: $device-spacegray-dark;
      border-radius: 0 0 4px 4px;
      content: "";
      height: 4px;
      left: -26px;
      position: absolute;
      top: 12px;
      width: 194px;
    }
  }
}