// iPad Pro (2021)
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 15%);
$device-spacegray: #83878a;
$device-spacegray-dark: darken($device-spacegray, 10%);
$device-panel: #0d0d0d;

.device-ipad-pro {
  height: 778px;
  width: 560px;

  .device-frame {
    background: $device-panel;
    border-radius: 36px;
    box-shadow: inset 0 0 0 1px $device-silver-dark, inset 0 0 1px 3px $device-silver;
    height: 778px;
    padding: 27px;
    width: 560px;
  }

  // 2732-by-2048-pixel resolution
  .device-screen {
    border: 2px solid lighten($device-panel, 2%);
    border-radius: 11px;
    height: 724px;
    width: 506px;
  }

  .device-btns {
    &::after,
    &::before {
      background: $device-silver-dark;
      content: "";
      position: absolute;
    }

    &::after {
      height: 2px;
      right: 40px;
      top: -2px;
      width: 36px;
    }
    &::before {
      box-shadow: 0 37px $device-silver-dark;
      height: 32px;
      right: -2px;
      top: 63px;
      width: 2px;
    }
  }

  .device-sensors {
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background: lighten($device-panel, 5%);
      border-radius: 17px;
      box-shadow: -20px 0 lighten($device-panel, 5%), 70px 0 lighten($device-panel, 5%);
      height: 10px;
      left: 50%;
      margin-left: -30px;
      top: 12px;
      width: 10px;
    }
    &::before {
      background: radial-gradient(farthest-corner at 20% 20%, #6074BF 0, transparent 40%),
                  radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555E 20%, transparent 50%);
      box-shadow: 0 0 1px 1px rgba($light-color, .05);
      border-radius: 50%;
      height: 6px;
      left: 50%;
      margin-left: -3px;
      top: 14px;
      width: 6px;
    }
  }

  // Space Gray edition 
  &.device-spacegray {
    .device-frame {
      box-shadow: inset 0 0 0 1px $device-spacegray-dark, inset 0 0 1px 3px $device-spacegray;
    }

    .device-btns {
      &::after,
      &::before {
        background: $device-spacegray-dark;
      }
      &::before {
        box-shadow: 0 37px $device-spacegray-dark;
      }
    }
  }
}