@import "functions";

// iPad Pro (2021)
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 15%);
$device-spacegray: #83878a;
$device-spacegray-dark: darken($device-spacegray, 10%);
$device-panel: #0d0d0d;

.device-ipad-pro {
  --device-width: 560;
  height: getCqi(778); // 778px
  width: 100cqi; // 560px

  .device-frame {
    background: $device-panel;
    border-radius: getCqi(36);
    box-shadow: inset 0 0 0 getCqi(1) $device-silver-dark, inset 0 0 getCqi(1) getCqi(3) $device-silver;
    height: getCqi(778);
    padding: getCqi(27);
    width: getCqi(560);
  }

  // 2732-by-2048-pixel resolution
  .device-screen {
    border: getCqi(2) solid lighten($device-panel, 2%);
    border-radius: getCqi(11);
    height: getCqi(724);
    width: getCqi(506);
  }

  .device-btns {
    &::after,
    &::before {
      background: $device-silver-dark;
      content: "";
      position: absolute;
    }

    &::after {
      height: getCqi(2);
      right: getCqi(40);
      top: getCqi(-2);
      width: getCqi(36);
    }
    &::before {
      box-shadow: 0 getCqi(37) $device-silver-dark;
      height: getCqi(32);
      right: getCqi(-2);
      top: getCqi(63);
      width: getCqi(2);
    }
  }

  .device-sensors {
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background: lighten($device-panel, 5%);
      border-radius: getCqi(17);
      box-shadow: getCqi(-20) 0 lighten($device-panel, 5%), getCqi(70) 0 lighten($device-panel, 5%);
      height: getCqi(10);
      left: 50%;
      margin-left: getCqi(-30);
      top: getCqi(12);
      width: getCqi(10);
    }
    &::before {
      background: radial-gradient(farthest-corner at 20% 20%, #6074BF 0, transparent 40%),
                  radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555E 20%, transparent 50%);
      box-shadow: 0 0 getCqi(1) getCqi(1) rgba($light-color, .05);
      border-radius: 50%;
      height: getCqi(6);
      left: 50%;
      margin-left: getCqi(-3);
      top: getCqi(14);
      width: getCqi(6);
    }
  }

  // Space Gray edition
  &.device-spacegray {
    .device-frame {
      box-shadow: inset 0 0 0 getCqi(1) $device-spacegray-dark, inset 0 0 getCqi(1) getCqi(3) $device-spacegray;
    }

    .device-btns {
      &::after,
      &::before {
        background: $device-spacegray-dark;
      }
      &::before {
        box-shadow: 0 getCqi(37) $device-spacegray-dark;
      }
    }
  }
}
