@import "functions";

// The iPhone
$device-silver: #F5F5F5;
$device-silver-dark: darken($device-silver, 10%);
$device-panel: #010101;

.device-the-iphone {
  --device-width: 320;
  height: getCqi(610);
  width: 100cqi;

  .device-frame {
    background: $device-panel;
    border: getCqi(1) solid darken($device-silver-dark, 20%);
    border-radius: getCqi(56);
    box-shadow: inset 0 0 getCqi(4) getCqi(3) $device-panel, inset 0 0 getCqi(2) getCqi(13) $device-silver;
    height: getCqi(610);
    padding: getCqi(100) getCqi(22);
    width: getCqi(320);

    &::before {
      border: getCqi(8) solid $device-panel;
      border-left-width: getCqi(2);
      border-radius: getCqi(48);
      border-right-width: getCqi(2);
      box-shadow: inset 0 0 getCqi(8) getCqi(2) $device-panel;
      content: "";
      height: getCqi(594);
      left: getCqi(2);
      position: absolute;
      top: getCqi(9);
      width: getCqi(316);
    }

    &::after {
      border: getCqi(4) solid $device-silver-dark;
      border-radius: getCqi(38);
      content: "";
      height: getCqi(590);
      left: getCqi(13);
      position: absolute;
      top: getCqi(11);
      width: getCqi(294);
    }
  }

  // 320-by-480-pixel resolution
  .device-screen {
    border: getCqi(2) solid lighten($device-panel, 15%);
    border-radius: getCqi(4);
    height: getCqi(410);
    width: getCqi(276);
  }

  .device-sensors {
    &::before {
      background: linear-gradient(to bottom, lighten($device-panel, 15%) 50%, rgba($device-silver-dark, .25) 50%, darken($device-silver, 30%));
      border-radius: getCqi(5);
      content: "";
      height: getCqi(10);
      left: 50%;
    margin-left: getCqi(-28);
      position: absolute;
      top: getCqi(52);
      width: getCqi(56);
    }

    &::after {
      background: lighten($device-panel, 15%);
      border: getCqi(1) solid $device-panel;
      border-radius: getCqi(3);
      content: "";
      height: getCqi(6);
      left: 50%;
      margin-left: getCqi(-26);
      position: absolute;
      top: getCqi(54);
      width: getCqi(52);
    }
  }

  .device-btns {
    background: darken($device-silver-dark, 45%);
    border-radius: getCqi(2) 0 0 getCqi(2);
    height: getCqi(30);
    left: getCqi(-2);
    position: absolute;
    top: getCqi(60);
    width: getCqi(2);

    &::after,
    &::before {
      background: darken($device-silver-dark, 45%);
      content: "";
      height: getCqi(56);
      left: 0;
      position: absolute;
      width: getCqi(2);
    }

    &::after {
      border-radius: getCqi(2) 0 0 50%;
      top: getCqi(50);
    }
    &::before {
      border-radius: 50% 0 0 getCqi(2);
      top: getCqi(131);
    }
  }

  .device-home {
    background: radial-gradient(circle at top center, $device-panel 70%, rgba($device-silver-dark, .25) 70%, darken($device-silver, 30%));
    border: getCqi(1) solid darken($device-silver-dark, 70%);
    border-radius: 50%;
    bottom: getCqi(28);
    height: getCqi(56);
    left: 50%;
    margin-left: getCqi(-28);
    position: absolute;
    width: getCqi(56);

    &::before {
      border: getCqi(1) solid $device-silver-dark;
      border-radius: getCqi(4);
      content: '';
      height: getCqi(20);
      left: getCqi(17);
      position: absolute;
      top: getCqi(17);
      width: getCqi(20);
    }
  }

  .device-power {
    background: darken($device-silver-dark, 45%);
    border-radius: getCqi(2) getCqi(2) 0 0;
    height: getCqi(2);
    right: getCqi(52);
    position: absolute;
    top: getCqi(-2);
    width: getCqi(52);
  }
}
