// iPhone 8
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #fff;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 20%);
$device-gold-panel: #fff;
$device-spacegray: #9b9ba0;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #222;

.device-iphone-8 {
  height: 698px;
  width: 336px;

  .device-frame {
    background: $device-silver-panel;
    border-radius: 54px;
    box-shadow: inset 0 0 0 2px $device-silver-dark, inset 0 0 0 6px $device-silver;
    height: 698px;
    padding: 82px 18px;
    width: 336px;
  }

  // 1334-by-750-pixel resolution
  .device-content {
    background-color: #fff;
    background-image: url("../src/img/bg-01.jpg");
    background-position: center center;
    background-size: cover;
    border: 2px solid #222;
    border-radius: 4px;
    height: 534px;
    position: relative;
    width: 300px;
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 0 6px;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 9;
    }
    &::after {
      top: 55px;
    }
    &::before {
      bottom: 55px;
    }
  }

  .device-header {
    height: 36px;
    left: 50%;
    margin-left: -64px;
    position: absolute;
    top: 26px;
    width: 128px;
    z-index: 199;

    &::after {
      background: #666;
      border-radius: 2.5px;
      content: "";
      height: 5px;
      left: 50%;
      margin-left: -30px;
      margin-top: -2.5px;
      position: absolute;
      top: 50%;
      width: 60px;
    }
  }

  .device-sensors {
    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      position: absolute;
    }
    &::after {  
      height: 8px;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      top: 0;
      width: 8px;
    }
    &::before {
      height: 10px;
      left: 0;
      margin-top: -5px;
      top: 50%;
      width: 10px;
    }
  }

  .device-btns {
    background: $device-silver-dark;
    height: 24px;
    left: -2px;
    position: absolute;
    top: 82px;
    width: 3px;

    &::after,
    &::before {
      background: $device-silver-dark;
      content: "";
      height: 45px;
      left: 0;
      position: absolute;
      width: 3px;
    }

    &::after {
      top: 50px;
    }
    &::before {
      top: 106px;
    }
  }

  .device-power {
    background: $device-silver-dark;
    height: 80px;
    right: -2px;
    position: absolute;
    top: 160px;
    width: 3px;
  }

  .device-home {
    border: 2px solid $device-silver-dark;
    border-radius: 50%;
    bottom: 20px;
    height: 46px;
    left: 50%;
    margin-left: -23px;
    position: absolute;
    width: 46px;
  }

  // Gold edition 
  &.device-gold {
    .device-frame {
      box-shadow: inset 0 0 0 2px $device-gold-dark, inset 0 0 0 6px $device-gold;
    }

    .device-content {
      background-image: url("../src/img/bg-02.jpg");
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-gold-dark;
      }
    }

    .device-power {
      background: $device-gold-dark;
    }

    .device-home {
      border-color: $device-gold-dark;
    }
  }

  // Space Gray edition
  &.device-spacegray {
    .device-frame {
      background: $device-spacegray-panel;
      box-shadow: inset 0 0 0 2px $device-spacegray-dark, inset 0 0 0 6px $device-spacegray;
    }

    .device-content {
      background-image: url("../src/img/bg-03.jpg");
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#ccc, .35);
      }
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-spacegray-dark;
      }
    }

    .device-power {
      background: $device-spacegray-dark;
    }
  }
}