// iPhone 8
$device-gold: #f7e8dd;
$device-spacegray: #9b9ba0;

.device-iphone-8 {
  border-radius: 54px;
  box-shadow: inset 0 0 0 2px #ccc, inset 0 0 0 6px #eee;
  display: block;
  height: 698px;
  padding: 6px;
  position: relative;
  width: 336px;
  z-index: 1;

  .device-frame {
    border: solid #fff;
    border-width: 76px 12px;
    border-radius: 48px;
    height: 686px;
    width: 324px;

    // 1334-by-750-pixel resolution
    .device-content {
      background-image: url("../src/img/bg-01.jpg");
      background-position: center center;
      background-size: cover;
      border: 2px solid #222;
      border-radius: 4px;
      display: block;
      height: 534px;
      position: relative;
      width: 300px;
      z-index: -1;
    }
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 0 6px;
      content: "";
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 9;
    }
    &::after {
      top: 55px;
    }
    &::before {
      bottom: 55px;
    }
  }

  .device-header {
    display: block;
    height: 36px;
    left: 50%;
    margin-left: -64px;
    position: absolute;
    top: 26px;
    width: 128px;
    z-index: 199;

    &::after {
      background: #666;
      border-radius: 2.5px;
      content: "";
      display: block;
      height: 5px;
      left: 50%;
      margin-left: -30px;
      margin-top: -2.5px;
      position: absolute;
      top: 50%;
      width: 60px;
    }
  }

  .device-sensors {
    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
    }
    &::after {  
      height: 8px;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      top: 0;
      width: 8px;
    }
    &::before {
      height: 10px;
      left: 0;
      margin-top: -5px;
      top: 50%;
      width: 10px;
    }
  }

  .device-btns {
    background: #ccc;
    display: block;
    height: 24px;
    left: -1px;
    position: absolute;
    top: 82px;
    width: 3px;

    &::after,
    &::before {
      background: #ccc;
      content: "";
      display: block;
      height: 45px;
      left: 0;
      position: absolute;
      width: 3px;
    }

    &::after {
      top: 50px;
    }
    &::before {
      top: 106px;
    }
  }

  .device-power {
    background: #ccc;
    display: block;
    height: 80px;
    right: -1px;
    position: absolute;
    top: 160px;
    width: 2px;
  }

  .device-home {
    border: 2px solid #ccc;
    border-radius: 50%;
    bottom: 20px;
    display: block;
    height: 46px;
    left: 50%;
    margin-left: -23px;
    position: absolute;
    width: 46px;
  }

  // Gold version 
  &.device-gold {
    box-shadow: inset 0 0 0 2px darken($device-gold, 20%), inset 0 0 0 6px $device-gold;

    .device-content {
      background-image: url("../src/img/bg-02.jpg");
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: darken($device-gold, 20%);
      }
    }

    .device-power {
      background: darken($device-gold, 20%);
    }

    .device-home {
      border-color: darken($device-gold, 10%);
    }
  }

  // Spacegray version
  &.device-spacegray {
    background: #111;
    box-shadow: inset 0 0 0 2px darken($device-spacegray, 15%), inset 0 0 0 6px $device-spacegray;

    .device-frame {
      border-color: #111;
    }

    .device-content {
      background-image: url("../src/img/bg-03.jpg");
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#ccc, .35);
      }
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: darken($device-spacegray, 15%);
      }
    }

    .device-power {
      background: darken($device-spacegray, 15%);
    }
  }
}