@import "functions";

// MacBook
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #0d0d0d;
$device-spacegray: #83878a;
$device-spacegray-dark: darken($device-spacegray, 5%);
$device-spacegray-panel: #0d0d0d;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 10%);
$device-gold-panel: #0d0d0d;
$device-rosegold: #facfc9;
$device-rosegold-dark: darken($device-rosegold, 10%);
$device-rosegold-panel: #0d0d0d;

.device-macbook {
  --device-width: 740;
  height: getCqi(432);
  width: 100cqi;

  .device-frame {
    background: $device-silver-panel;
    border-radius: getCqi(20);
    box-shadow: inset 0 0 0 getCqi(2) $device-silver-dark;
    height: getCqi(428);
    margin: 0 auto;
    padding: getCqi(29) getCqi(19) getCqi(39) getCqi(19);
    position: relative;
    width: getCqi(614);

    &::after {
      background: lighten($device-silver-panel, 10%);
      border-radius: 0 0 getCqi(20) getCqi(20);
      bottom: getCqi(2);
      content: "";
      height: getCqi(26);
      left: getCqi(2);
      position: absolute;
      width: getCqi(610);
    }
    &::before {
      bottom: getCqi(10);
      color: $device-silver-dark;
      content: "MacBook";
      font-size: getCqi(12);
      height: getCqi(16);
      left: 50%;
      line-height: getCqi(16);
      margin-left: getCqi(-100);
      position: absolute;
      text-align: center;
      width: getCqi(200);
      z-index: 1;
    }
  }

  // 1440-by-900-pixel resolution
  .device-screen {
    border: getCqi(2) solid lighten($device-silver-panel, 2%);
    border-radius: getCqi(2);
    height: getCqi(360);
    width: getCqi(576);
  }

  .device-power {
    background: $device-silver;
    border: solid darken($device-silver, 5%);
    border-radius: getCqi(2) getCqi(2) 0 0;
    border-width: 0 getCqi(4);
    height: getCqi(4);
    margin-top: getCqi(-10);
    position: relative;
    width: getCqi(740);
    z-index: 9;

    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background: radial-gradient(circle at center, $device-silver 0, $device-silver 85%, darken($device-silver-dark, 15%) 100%);
      border: solid darken($device-silver-dark, 10%);
      border-width: 0 getCqi(2);
      height: getCqi(4);
      left: 50%;
      margin-left: getCqi(-60);
      width: getCqi(120);
    }
    &::before {
      background: darken($device-silver-dark, 15%);
      border-radius: 0 0 getCqi(180) getCqi(180)/ 0 0 getCqi(10) getCqi(10);
      box-shadow: inset 0 getCqi(-2) getCqi(6) 0 darken($device-silver-dark, 50%);
      height: getCqi(10);
      left: getCqi(-4);
      margin: 0 auto;
      top: getCqi(4);
      width: getCqi(740);
    }
  }

  // Gold edition
  &.device-gold {
    .device-frame {
      box-shadow: inset 0 0 0 getCqi(2) $device-gold-dark;
    }

    .device-power {
      background: $device-gold;
      border-color: $device-gold-dark;

      &::after {
        background: radial-gradient(circle at center, $device-gold 0, $device-gold 85%, darken($device-gold-dark, 15%) 100%);
        border-color: darken($device-gold-dark, 10%);
      }
      &::before {
        background: $device-gold-dark;
        box-shadow: inset 0 getCqi(-2) getCqi(6) 0 darken($device-gold-dark, 50%);
      }
    }
  }

  // Rose Gold edition
  &.device-rosegold {
    .device-frame {
      box-shadow: inset 0 0 0 getCqi(2) $device-rosegold-dark;
    }

    .device-power {
      background: $device-rosegold;
      border-color: $device-rosegold-dark;

      &::after {
        background: radial-gradient(circle at center, $device-rosegold 0, $device-rosegold 85%, darken($device-rosegold-dark, 15%) 100%);
        border-color: $device-rosegold-dark;
      }
      &::before {
        background: $device-rosegold-dark;
        box-shadow: inset 0 getCqi(-2) getCqi(6) 0 darken($device-rosegold-dark, 50%);
      }
    }
  }

  // Space Gray edition
  &.device-spacegray {
    .device-frame {
      box-shadow: inset 0 0 0 getCqi(2) $device-spacegray-dark;
    }

    .device-power {
      background: lighten($device-spacegray, 5%);
      border-color: $device-spacegray-dark;

      &::after {
        background: radial-gradient(circle at center, lighten($device-spacegray, 5%) 0, lighten($device-spacegray, 5%) 85%, darken($device-spacegray-dark, 15%) 100%);
        border-color: darken($device-spacegray-dark, 10%);
      }
      &::before {
        background: darken($device-spacegray-dark, 15%);
        box-shadow: inset 0 getCqi(-2) getCqi(6) 0 darken($device-spacegray-dark, 50%);
      }
    }
  }
}
