// MacBook Pro
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #0d0d0d;
$device-spacegray: #83878a;
$device-spacegray-dark: darken($device-spacegray, 5%);
$device-spacegray-panel: #0d0d0d;

.device-macbook-pro {
  height: 444px;
  width: 740px;

  .device-frame {
    background: $device-silver-panel;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px $device-silver-dark;
    height: 428px;
    margin: 0 auto;
    padding: 29px 19px 39px 19px;
    position: relative;
    width: 614px;

    &::after {
      background: lighten($device-silver-panel, 10%);
      border-radius: 0 0 20px 20px;
      bottom: 2px;
      content: "";
      height: 26px;
      left: 2px;
      position: absolute;
      width: 610px;
    }
    &::before {
      bottom: 10px;
      color: $device-silver-dark;
      content: "MacBook Pro";
      font-size: 12px;
      height: 16px;
      left: 50%;
      line-height: 16px;
      margin-left: -100px;
      position: absolute;
      text-align: center;
      width: 200px;
      z-index: 1;
    }
  }

  // 1680-by-1050-pixel resolution
  .device-content {
    border: 2px solid lighten($device-silver-panel, 2%);
    border-radius: 2px;
    height: 360px;
    width: 576px;
  }

  .device-power {
    background: $device-silver;
    border: solid darken($device-silver, 5%);
    border-radius: 2px 2px 0 0;
    border-width: 2px 4px 0 4px;
    height: 14px;
    margin-top: -10px;
    position: relative;
    width: 740px;
    z-index: 9;
    
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background: lighten($device-silver-dark, 5%);
      border-radius: 0 0 10px 10px;
      box-shadow: inset 0 0 4px 2px darken($device-silver-dark, 5%);
      height: 10px;
      left: 50%;
      margin-left: -60px;
      top: -2px;
      width: 120px;
    }
    &::before {
      background: darken($device-silver-dark, 15%);
      border-radius: 0 0 180px 180px/ 0 0 12px 12px;
      box-shadow: inset 0 -2px 6px 0 darken($device-silver-dark, 50%);
      height: 12px;
      left: -4px;
      margin: 0 auto;
      top: 10px;
      width: 740px;
    }
  }

  // Space Gray edition
  &.device-spacegray {
    .device-frame {
      box-shadow: inset 0 0 0 2px $device-spacegray-dark;
    }

    .device-power {
      background: lighten($device-spacegray, 5%);
      border-color: $device-spacegray-dark;

      &::after {
        background: lighten($device-spacegray-dark, 5%);
        box-shadow: inset 0 0 4px 2px darken($device-spacegray-dark, 5%);
      }
      &::before {
        background: darken($device-spacegray-dark, 15%);
        box-shadow: inset 0 -2px 6px 0 darken($device-spacegray-dark, 50%);
      }
    }
  }
}