@import "functions";

// Pro Display XDR
$device-silver: #EDEEF0;
$device-silver-dark: #D4D5D7;
$device-panel: #0d0d0d;

.device-pro-display-xdr {
  --device-width: 640;
  height: getCqi(475);
  width: 100cqi;

  .device-frame {
    background: lighten($device-panel, 3%);
    border-radius: getCqi(4);
    box-shadow: inset 0 0 getCqi(2) $device-silver-dark;
    height: getCqi(368);
    padding: getCqi(8);
    position: relative;
    width: getCqi(640);

    &::before {
      background: darken($device-silver-panel, 3%);
      border-radius: 50%;
      content: "";
      height: getCqi(6);
      left: 50%;
      margin-left: getCqi(-3);
      position: absolute;
      text-align: center;
      top: getCqi(6);
      width: getCqi(6);
      z-index: 9;
    }
  }

  // 6016-by-3384-pixel resolution
  .device-screen {
    border: getCqi(2) solid lighten($device-silver-panel, 2%);
    border-radius: getCqi(2);
    height: getCqi(352);
    width: getCqi(624);
  }

  .device-power {
    &::after {
      background: radial-gradient(circle at center, $device-silver-dark 85%, darken($device-silver-dark, 20%) 100%);
      border-top: getCqi(1) solid $device-silver-dark;
      content: "";
      height: getCqi(6);
      margin: 0 auto;
      position: relative;
      width: getCqi(152);
    }
    &::before {
      background: linear-gradient(to bottom, darken($device-silver-dark, 20%) 0, darken($device-silver-dark, 5%) 40%, darken($device-silver-dark, 5%) 85%, lighten($device-silver, 15%) 90%, darken($device-silver-dark, 40%) 100%);
      content: "";
      height: getCqi(102);
      margin: 0 auto;
      position: relative;
      width: getCqi(152);
    }
  }

  .device-home {
    background: transparent;
    border-radius: 0 0 getCqi(3) getCqi(3);
    bottom: getCqi(-2);
    box-shadow: getCqi(-61) 0 darken($device-silver-dark, 40%), getCqi(61) 0 darken($device-silver-dark, 40%);
    height: getCqi(1);
    left: 50%;
    margin-left: getCqi(-15);
    position: absolute;
    width: getCqi(30);
  }
}
