// Reset
.device,
.device * {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    display: block;
  }
}

.device {
  position: relative;
  z-index: 1;

  .device-frame {
    z-index: 1;
  }
}
