@import "functions";

// Surface Pro (2017)
$device-silver: #eee;
$device-silver-dark: darken($device-silver, 15%);
$device-silver-panel: #0d0d0d;

.device-surface-pro-2017 {
  --device-width: 561;
  height: getCqi(394); // 394)
  width: 100cqi; // 561)

  .device-frame {
    background: $device-silver-panel;
    border-radius: getCqi(10);
    box-shadow: inset 0 0 0 getCqi(2) $device-silver-dark;
    height: getCqi(394);
    margin: 0 auto;
    padding: getCqi(26) getCqi(24);
    width: getCqi(561);
  }

  // 2736-by-1824-pixel resolution
  .device-screen {
    border: getCqi(2) solid lighten($device-silver-panel, 2%);
    border-radius: getCqi(2);
    height: getCqi(342);
    width: getCqi(513);
  }

  .device-btns {
    &::after,
    &::before {
      background: $device-silver-dark;
      content: "";
      height: getCqi(2);
      position: absolute;
      top: getCqi(-2);
    }

    &::after {
      left: getCqi(48);
      width: getCqi(26);
    }
    &::before {
      left: getCqi(94);
      width: getCqi(48);
    }
  }

  .device-sensors {
    background: #333;
    border-radius: 50%;
    height: getCqi(6);
    left: 50%;
    margin-left: getCqi(-3);
    margin-top: getCqi(-3);
    position: absolute;
    top: getCqi(14);
    width: getCqi(6);
  }
}
