// Surface Studio
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #0d0d0d;

.device-surface-studio {
  height: 526px;
  position: relative;
  width: 640px;
  z-index: 1;

  .device-frame {
    background: $device-silver-panel;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px darken($device-silver-panel, 5%);
    height: 440px;
    padding: 20px;
    width: 640px;

    // 4500-by-3000-pixel resolution
    .device-content {
      background-color: #fff;
      background-image: url("../src/img/bg-09.jpg");
      background-position: center center;
      background-size: cover;
      border: 2px solid lighten($device-silver-panel, 2%);
      border-radius: 2px;
      height: 400px;
      position: relative;
      width: 600px;
    }
  }

  .device-power {
    background: lighten($device-silver, 5%);
    border: solid $device-silver;
    border-radius: 0 0 2px 2px;
    border-width: 0 4px 2px 4px;
    height: 32px;
    margin: 50px auto 0 auto;
    position: relative;
    width: 250px;

    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background: darken($device-silver-dark, 10%);
      height: 2px;
      left: -4px;
      top: 4px;
      width: 250px;
    }
    &::before {
      border: 10px solid transparent;
      border-top: 0;
      border-bottom-color: $device-silver-dark;
      height: 10px;
      left: -4px;
      top: -10px;
      width: 250px;
    }
  }

  .device-home {
    background: #444;
    border-radius: 0 0 2px 2px;
    height: 4px;
    margin: 0 auto;
    position: relative;
    width: 234px;

    &::after,
    &::before {
      content: "";
      left: 50%;
      position: absolute;
      top: -85px;
    }
    &::after {
      border: 6px solid darken($device-silver-dark, 5%);
      border-top: 0;
      border-radius: 0 0 18px 18px;
      box-shadow: inset 0 0 0 2px darken($device-silver-dark, 15%);
      height: 60px;
      margin-left: -140px;
      width: 280px;
      z-index: -1;
    }
    &::before {
      border: 15px solid $device-silver-dark;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      height: 70px;
      margin-left: -150px;
      width: 300px;
      z-index: -2;
    }
  }
}