/*! Devices.css | MIT License | github.com/picturepan2/devices.css */
// Core variables and mixins
@import "variables";

.version::after {
  content: "0.1.9";
}

/*  Core style */
.section-hero {
  padding: 1rem .5rem;
}

.section-ad {
  background: $bg-color-dark;
  padding: 1rem 0;
  text-align: center;
}

.section-device {
  .container {
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .anchor {
    color: $primary-color-light;
    height: 0;
    margin-left: -2em;
    overflow: hidden;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    width: 0;
    z-index: 100;
    &:focus,
    &:hover {
      box-shadow: none;
      height: auto;
      text-decoration: none;
      width: 2em;
    }
  }
  
  .s-title {
    color: $dark-color;
    line-height: 1.6rem;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: static;

    &:hover {
      .anchor {
        height: auto;
        width: 1em;
      }
    }
  }

  .column {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .code {
    color: lighten($dark-color, 15%);

    .com {
      color: $gray-color;
    }
    .tag {
      color: $primary-color;
    }
    .atn {
      color: lighten($dark-color, 15%);
    }
    .atv {
      color: #e06870;
    }
  }
}

.section-footer {
  color: $gray-color;
  padding: 1.8rem .75rem 1rem .75rem;
  position: relative;

  p {
    line-height: 1;
  }

  a {
    color: $gray-color-dark;
  }
}

.grid-hero {
  letter-spacing: -.021em;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;

  h1 {
    color: $dark-color;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  h2 {
    color: $dark-color;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}

// Devices
.device {
  margin: 1rem auto;
}

.bg-pink {
  background: #f9f0eb;
}

@media (max-width: $size-2x) {
  
}