/*! Devices.css | MIT License | github.com/picturepan2/devices.css */
// Core reset and variables 
@import "variables";
@import "reset";

// Phones
@import "iphone-x";
@import "iphone-8";
@import "google-pixel-2-xl";
@import "google-pixel";
@import "galaxy-s8";

// Tablets
@import "ipad-pro";
@import "surface-pro";

// Laptops
@import "surface-book";
@import "macbook-pro";
@import "macbook";

// Desktops
@import "surface-studio";
@import "imac-pro";

// Others
@import "apple-watch";